# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules

# Build (Produção)
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Uploads (Arquivos dos clientes)
# Ignora tudo dentro da pasta uploads
/uploads/*
# Mas NÃO ignora o arquivo .gitkeep (para garantir que a pasta vazia exista no projeto)
!/uploads/.gitkeep

# Segurança (MUITO IMPORTANTE)
# Nunca suba suas senhas e tokens para o Git
.env
.env.production
.env.local